<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsE8tPMelECEV7qDbEEucSYirDwgRZOCA</string>
	<key>GCM_SENDER_ID</key>
	<string>930373818547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenzo</string>
	<key>PROJECT_ID</key>
	<string>expenzo-app-b788e</string>
	<key>STORAGE_BUCKET</key>
	<string>expenzo-app-b788e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:930373818547:ios:fcc9780ac53978ad0df8c6</string>
</dict>
</plist>